@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Ubuntu";
  color: rgb(6, 23, 56);
}

button {
  background: #79589f;
  color: white;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.primary-color {
  color: #79589f;
}
/* navbar */
.navbar {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}

.navbar a {
  color: white;
}
.navbar a:hover {
  text-decoration: none;
  color: #79589f;
}

/* notes list */
.main-content {
  max-width: 60%;
  margin: 0px auto;
  margin-left: auto;
  padding: 20px;
  background: #5e5e5e48;
  border-radius: 20px;
}
.main-content h4 {
  font-weight: bold;
  text-align: justify;
  
  padding-left: 40px;
}
.notes-preview a{
  background: #f4f4f4;
  display: block;
  padding: 1rem;
  text-align: justify;
  margin-left: 0px;
}
.notes-preview a:hover {
  background: #e4e4e4;
  text-decoration: none;
}

/* note details */
.note-details .metadata {
  font-size: 14px;
}

/* create note form */
.create {
  max-width: 400px;
  margin: 20px auto;
}

body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(6, 23, 56);
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
  color:rgb(156, 19, 135);
  font-weight: bold;
}

.navbar__item {
  padding: 2px 2px;
  vertical-align: middle;
  font-size: 80%;
}

.container-fluid{
  height: 100%;
  position: relative;
}

.navbar-lateral{
  background-color: rgb(6, 23, 56);
  color:white;
  font-size: 30%;
  height: 100%;
  position: relative;
  margin-left: auto;
  
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 160%;
  color: white;
  font-weight: bold;
  margin-right: 0px;
  margin-left: -15px;
  height: 750px;
  width: auto;
  position: absolute;
}